:root {
	--primario: #0b9afa;
	--contestada:#0aad20;
	--gris-claro: #B8B8B8;
	--sombra: 0 0 13px 0 rgba(185,185,185, .25);
}

/*! =================================================*/
/*! ============= Preguntas Contenedor ============= */
/*! =================================================*/

.contenedor-pregunta {
	background: #fff;
	padding: 40px;
	border: 2px solid transparent;
	border-radius: 10px;
	overflow: hidden;
	transition: .3s ease all;
	cursor: pointer;
    margin-bottom: 10px;
}

.contenedor-pregunta:hover {
	box-shadow: var(--sombra);
}

.contenedor-pregunta.activa {
	border: 2px solid var(--primario);
}

.contenedor-pregunta.contestada {
	border: 2px solid var(--contestada);
}
.pregunta {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pregunta i {
	width: 14px;
}

.age{
	background: black;
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	display: inline-block;
	justify-content: space-between;
	align-items: center;
}

.respuesta {
	color: #808080;
	line-height: 30px;
	max-height: 0;
	opacity: 0;
	transition: .3s ease all;
}

.contenedor-pregunta.activa .respuesta {
	opacity: 1;
	margin-top: 20px;
}

.contenedor-pregunta.activa i {
	transform: rotate(180deg);
}


